In [53]:
import pandas as pd

This script generates the minute data files, which will be used to create the data which can be used for interpolation in creatSpeedFlowData.ipynb. It outputs to cameradata2.csv

In [54]:
df = pd.read_csv('/Users/vree/Documents/UTwente/Masters UTwente/Data Science/DM Project/Speed-flow/Maart/intensiteit-snelheid-rotterdam-29-Maart-4-april/intensiteit-snelheid-rotterdam-29-Maart-4-april.csv', nrows=1000)

print('columns is : ', df.columns)
df.head()

columns is :  Index(['id_meetlocatie', 'ndw_index', 'start_meetperiode', 'eind_meetperiode',
       'waarnemingen_intensiteit', 'waarnemingen_snelheid',
       'gebruikte_minuten_intensiteit', 'gebruikte_minuten_snelheid',
       'data_error_snelheid', 'data_error_intensiteit', 'gem_intensiteit',
       'gem_snelheid', 'gewogen_gem_snelheid', 'rijstrook_rijbaan',
       'voertuigcategorie'],
      dtype='object')

,id_meetlocatie,ndw_index,start_meetperiode,eind_meetperiode,waarnemingen_intensiteit,waarnemingen_snelheid,gebruikte_minuten_intensiteit,gebruikte_minuten_snelheid,data_error_snelheid,data_error_intensiteit,gem_intensiteit,gem_snelheid,gewogen_gem_snelheid,rijstrook_rijbaan,voertuigcategorie
0,GEO0B_R_RWSTI356574,F1C,2020-03-29 00:00:00,2020-03-29 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 1.85 and lessThanOrEqualTo 2.40
1,GEO0B_R_RWSTI356574,F2C,2020-03-29 00:00:00,2020-03-29 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 2.40 and lessThanOrEqualTo 5.60
2,GEO0B_R_RWSTI356574,F3C,2020-03-29 00:00:00,2020-03-29 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 5.60 and lessThanOrEqualTo 11.50
3,GEO0B_R_RWSTI356574,F4C,2020-03-29 00:00:00,2020-03-29 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 11.50 and lessThanOrEqualTo 12.20
4,GEO0B_R_RWSTI356574,F5C,2020-03-29 00:00:00,2020-03-29 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 12.20

In [55]:
file_name = '/Users/vree/Documents/UTwente/Masters UTwente/Data Science/DM Project/Speed-flow/Maart/intensiteit-snelheid-rotterdam-1-7-Maart/intensiteit-snelheid-rotterdam-1-7-Maart.csv'

cameraString = ''
with open('camerasForTest.txt') as f:
    cameraString = f.readlines()[0]
    cameraString = cameraString.replace('\n', '' )
    cameraString = cameraString.split(',')
    
    
print(cameraString)


camera_ids = cameraString

camera_data = pd.DataFrame()

for chunk in pd.read_csv(file_name, chunksize=10000):
    chunk = chunk[chunk['id_meetlocatie'].isin(camera_ids)]
    camera_data = pd.concat([camera_data, chunk])
    

camera_data.to_csv('camerasData2.csv', index=False)

camera_data.head()

['RWS01_MONIBAS_0151hrl0533ra', ' RWS01_MONIBAS_0151hrl0538', 'RWS01_MONIBAS_0151hrl0543ra', 'RWS01_MONIBAS_0151hrl0548ra', 'RWS01_MONIBAS_0151hrl0554ra', 'RWS01_MONIBAS_0151hrl0560ra', 'RWS01_MONIBAS_0151hrl0567ra', 'RWS01_MONIBAS_0151hrl0572ra', 'RWS01_MONICA_00D00F08D446D005000D']

,id_meetlocatie,ndw_index,start_meetperiode,eind_meetperiode,waarnemingen_intensiteit,waarnemingen_snelheid,gebruikte_minuten_intensiteit,gebruikte_minuten_snelheid,data_error_snelheid,data_error_intensiteit,gem_intensiteit,gem_snelheid,gewogen_gem_snelheid,rijstrook_rijbaan,voertuigcategorie
44753454,RWS01_MONIBAS_0151hrl0533ra,F1A,2020-03-01 00:00:00,2020-03-01 00:01:00,NaN,0.0,1,0,0,0,0,-1.0,-1.0,lane1,anyVehicle
44753455,RWS01_MONIBAS_0151hrl0533ra,F3A,2020-03-01 00:00:00,2020-03-01 00:01:00,NaN,NaN,1,1,0,0,300,114.0,114.0,lane2,anyVehicle
44753456,RWS01_MONIBAS_0151hrl0533ra,F5A,2020-03-01 00:00:00,2020-03-01 00:01:00,NaN,NaN,1,1,0,0,360,109.0,109.0,lane3,anyVehicle
44753457,RWS01_MONIBAS_0151hrl0533ra,F1A,2020-03-01 00:01:00,2020-03-01 00:02:00,NaN,NaN,1,1,0,0,60,132.0,132.0,lane1,anyVehicle
44753458,RWS01_MONIBAS_0151hrl0533ra,F3A,2020-03-01 00:01:00,2020-03-01 00:02:00,NaN,NaN,1,1,0,0,180,113.0,113.0,lane2,anyVehicle

In [57]:


print('cmaera data shape: ', camera_data.shape)

# get mean date for start_meetperiode
camera_data['start_meetperiode'] = pd.to_datetime(camera_data['start_meetperiode'])
# drop not available
camera_data.head()

camera_data = camera_data.dropna(subset=['start_meetperiode'])
print('mean date: ', camera_data['start_meetperiode'].mean())

# get the type of the coluns
print('data types: ', camera_data.dtypes)

# filter out mean time -2.5h and mean time +2.5h
# 5 hours
start_time = camera_data['start_meetperiode'].mean() - pd.Timedelta('10 hours')
print('start time: ', start_time)

end_time = camera_data['start_meetperiode'].mean() + pd.Timedelta('10 hours')
print('end time: ', end_time)
camera_data = camera_data[(camera_data['start_meetperiode'] > start_time) & (camera_data['start_meetperiode'] < end_time)]


print('shape after data filter: ', camera_data.shape)
camera_data.to_csv('cameradata2.csv', index=False)

cmaera data shape:  (32372, 15)
mean date:  2020-03-04 11:59:34.125787648
data types:  id_meetlocatie                           object
ndw_index                                object
start_meetperiode                datetime64[ns]
eind_meetperiode                         object
waarnemingen_intensiteit                float64
waarnemingen_snelheid                   float64
gebruikte_minuten_intensiteit             int64
gebruikte_minuten_snelheid                int64
data_error_snelheid                       int64
data_error_intensiteit                    int64
gem_intensiteit                           int64
gem_snelheid                            float64
gewogen_gem_snelheid                    float64
rijstrook_rijbaan                        object
voertuigcategorie                        object
dtype: object
start time:  2020-03-04 01:59:34.125787648
end time:  2020-03-04 21:59:34.125787648
shape after data filter:  (32372, 15)

In [59]:
camerasData1 = pd.read_csv('camerasdata.csv')

camerasData2 = pd.read_csv('cameradata2.csv')

print('cameradata 1 shape: ', camerasData1.shape)
print('cameradata 2 shape: ', camerasData2.shape)


camerasData2.head()

cameradata 1 shape:  (90099, 16)
cameradata 2 shape:  (32372, 15)

,id_meetlocatie,ndw_index,start_meetperiode,eind_meetperiode,waarnemingen_intensiteit,waarnemingen_snelheid,gebruikte_minuten_intensiteit,gebruikte_minuten_snelheid,data_error_snelheid,data_error_intensiteit,gem_intensiteit,gem_snelheid,gewogen_gem_snelheid,rijstrook_rijbaan,voertuigcategorie
0,RWS01_MONIBAS_0151hrl0533ra,F1A,2020-03-04 02:00:00,2020-03-04 02:01:00,NaN,0.0,1,0,0,0,0,-1.0,-1.0,lane1,anyVehicle
1,RWS01_MONIBAS_0151hrl0533ra,F3A,2020-03-04 02:00:00,2020-03-04 02:01:00,NaN,0.0,1,0,0,0,0,-1.0,-1.0,lane2,anyVehicle
2,RWS01_MONIBAS_0151hrl0533ra,F5A,2020-03-04 02:00:00,2020-03-04 02:01:00,NaN,NaN,1,1,0,0,180,92.0,92.0,lane3,anyVehicle
3,RWS01_MONIBAS_0151hrl0533ra,F1A,2020-03-04 02:01:00,2020-03-04 02:02:00,NaN,0.0,1,0,0,0,0,-1.0,-1.0,lane1,anyVehicle
4,RWS01_MONIBAS_0151hrl0533ra,F3A,2020-03-04 02:01:00,2020-03-04 02:02:00,NaN,0.0,1,0,0,0,0,-1.0,-1.0,lane2,anyVehicle